<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>リノ算ツール【シャドバWB】</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://unpkg.com/modern-css-reset@1.4.0/dist/reset.min.css"/>
  <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
  <script src="https://cdn.jsdelivr.net/npm/vue@3.5.18/dist/vue.global.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/viewport-extra@1.0.3/dist/viewport-extra.min.js"></script>
  <script>new ViewportExtra(375)</script>
</head>
<body>
  <div id="app">
    <h1>リノ算ツール【シャドバWB】</h1>

    <hr>

    <div id="setting-container">
      <div class="setting">
        <div class="name">最大PP：</div>
        <div class="value-container">
          <template v-for="pp in [6, 7, 8, 9, 10, 11]">
            <div class="value" :class="{'selected': pp === maxPP}">{{pp}}</div>
          </template>
        </div>
      </div>
      <div class="setting">
        <div class="name">プレイ：</div>
        <div class="value-container">
          <template v-for="cost in [0, 1, 2, 3, 4]">
            <div class="value">{{cost}}</div>
          </template>
        </div>
      </div>
      <div class="setting">
        <div class="name"></div>
        <div class="value-container">
          <template v-for="name in ['SE🐿️', '🪳', 'SE🪳']">
            <div class="value">{{name}}</div>
          </template>
        </div>
      </div>
    </div>

    <hr>

    <div id="result-container">
      <div class="result">
        <div class="name">PP：</div>
        <div class="value">0 / 10</div>
      </div>
      <div class="result">
        <div class="name">ダメ：</div>
        <div class="value">18</div>
      </div>
      <div class="result">
        <div class="name">ログ：</div>
        <div class="value">0 0 0 1 1 2 🪳 SE🐿️ 🪳</div>
      </div>
    </div>

    <hr>

    <div id="memo">
      リセットしたいときはタイトルを押す<br>
      超カバンの吹っ飛び1点は未考慮<br>
    </div>
  </div>

  <script src='main.js'></script>
</body>
</html>
