
* {
  font-size: 32px;
}

#app {
  margin: 0 12px;
}

h1 {
  margin: 0 8px;
  font-size: 1.5rem;
}

#setting-container {
  /*  */
}

.setting {
  display: flex;
  margin-top: 12px;
  align-items: center;
}

.setting:first-of-type {
  margin-top: 0px;
}

.setting .name {
  width: 137px;
  margin-right: 8px;
  text-align: right;
}

.setting .value-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.setting .value {
  min-width: 56px;
  padding: 0 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.setting .value:hover {
  background-color: #f5f5f5;
}

#result-container {
  /*  */
}

.result {
  display: flex;
  margin-top: 12px;
  align-items: center;
}

.result:first-of-type {
  margin-top: 0px;
}

.result .name {
  width: 137px;
  margin-right: 8px;
  text-align: right;
}

#memo {
  font-size: 0.8rem;
}

